body {
	height: 100vh;
	background-color: black;
	background: url('../img/splash.png') no-repeat fixed center/auto 100%
}
#loading {
	color: white;
	position: absolute;
	bottom: 15vh;
	width: 100%;
	text-align: center;
}
#loading:after {
  content: "...";
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis-dot 1s infinite .3s;
  animation-fill-mode: fowards;
  width: 1.25em;
}

@keyframes ellipsis-dot {
  25% {
    content: "";
  }
  50% {
    content: ".";
  }
  75% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
